.App {
  text-align: center;
}

.detectionHolder {

  position:absolute;
  z-index: 0;
}

.detectionIntro {

  position:absolute;
  z-index: 3;
 
}

.detectionVideo {

    z-index: 0;
    position: absolute;
  overflow: hidden;
 
}

.detectionCanvas {

   z-index: 1;
   position: absolute;
   
}

.hidden {

  display: none;
}
